.WeatherApp {
  background: linear-gradient(
    to bottom,
    rgba(30, 87, 153, 1) 0%,
    rgba(125, 185, 232, 0) 100%
  );
  padding: 30px;
  max-width: 590px;
  display: block;
  margin: auto;
}
body {
  background-color: antiquewhite;
}
.currentWeather {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
#city {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-style: normal;
  font-size: xx-large;
  background: linear-gradient(
    to right,
    rgba(253, 217, 139, 1) 0%,
    rgba(254, 226, 178, 1) 62%,
    rgba(254, 227, 182, 0.7) 68%,
    rgba(254, 232, 202, 0) 100%
  );
  padding: 0px;
  text-transform: uppercase;
}
.currentTemp {
  text-align: right;
  position: fixed;
  margin: left 45px;
}
#temp {
  font-size: 55px;
  text-align: left;
}

.WeatherEmoticon {
  width: 90px;
  height:90px;
  position: relative;
}
form {
  size: 20px;
}
#humidity {
  color:firebrick;
}
#wind {
  color:firebrick;
  
}
#feelsLike {
  color:firebrick;
  position: relative;
}
.feelsLike {
  position: relative;
  top: -20px;
}
footer {
  text-align: center;
  font-size: smaller;
}
#search-button {
  border: 1px solid color(#a44101 #ff0100 #6fa705 #cd1e35);
  background-color: orange;
  color: #140404;
  font-size: 16px;
  font-style: italic;
  stroke: blue;
  font-family: "Times New Roman", Times, serif;
  line-height: 18px;
  padding: 8px 18px;
  border-radius: 20px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 89, 40, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
#search-button:hover {
  background-color: #fff;
  color: #0a4122;
  border: 1px solid #7dbc11;
}

#F-button{
border:none;
border-radius: 60px;
background:transparent 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
text-shadow: darksalmon 50px;
display: block;
margin: auto;
position: right;
}


#F-button:hover {
  background:none;
  color:firebrick;
  border: none;
  cursor:pointer;
  
}


.changeUnit{
  display: flex;
  justify-self: center;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-style: italic;
  position: relative;
  bottom: -20px;
}

#description{
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  position: relative;
  font-size: large;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: darkblue;
}

.weather-forecast-day{
margin-bottom: 39px;
text-align: center;
}

.weather-forecast-date{
  text-align: center;
  color: #333333;
}

.weather-forecast-icon{
  width: 82px;
  height: 82px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures{
text-align: center;
color:#cd1e35;
display: flex;
justify-content: center;
margin-top: 10px;
}


.temp-estimate-high{
  padding: 0 10px;
  font-size: small;
  font-style: italic;
}

.temp-estimate-low{
  font-size: small;
  font-style: italic;
}

.weather-forecast{
  display: flex;
  justify-content: space-around;
}
  
